In [1]:
# remove the first k!! find NFX NWS FOX UA

In [2]:
# Import Dependencies 
import pandas as pd
pwd = "Welcome123"
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.orm import Session
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import shutil
import re
import numpy as np

In [3]:
# Setup Pymysql and connect to AWS MySQL workbench
pymysql.install_as_MySQLdb() 
string = f"mysql://ucbx:{pwd}@stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com/stock_data"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()

In [4]:
# # Setup Pymysql and connect to local MySQL workbench
# rds_connection_string = "root:Cocascalvo1@127.0.0.1/wiki_db"
# engine = create_engine(f'mysql://{rds_connection_string}')
# conn = engine.connect()

In [5]:
# Create list of stocks for iteration 
stock = pd.read_sql('SELECT * FROM stock_data.book_value_to_revenue_multiple;', con=conn)

# stock_list = stock['Symbol'].tolist()
stock.head()
# stock

,symbol,gics_sector,gics_sub_industry,model,percent_change,current_price,target_price
0,XRAY,Health Care,Health Care Supplies,book_value_to_revenue,-15.62,37.21,31.40
1,XOM,Energy,Integrated Oil & Gas,book_value_to_revenue,56.06,68.19,106.42
2,XEC,Energy,Oil & Gas Exploration & Production,book_value_to_revenue,28.87,61.65,79.45
3,T,Communication Services,Integrated Telecommunication Services,book_value_to_revenue,-27.78,28.54,20.61
4,STZ,Consumer Staples,Distillers & Vintners,book_value_to_revenue,0.00,215.48,215.48

In [6]:
# Create list of stocks for iteration 
desc = pd.read_sql('SELECT * FROM stock_data.descriptions;', con=conn)

# stock_list = stock['Symbol'].tolist()
desc.head()
# stock

  symbol                                        description
0    MMM  3M Company operates as a technology company wo...
1    ABT  Abbott Laboratories discovers, develops, manuf...
2   ABBV  AbbVie Inc. discovers, develops, manufactures,...
3   ABMD  ABIOMED, Inc. engages in the research, develop...
4    ACN  Accenture plc provides consulting, technology,...

In [61]:
# result = pd.merge(stock, desc, on=['symbol'])
# result.head()

In [56]:
result.to_sql(name='EBITDA_multiple2', con=engine, if_exists='append', index=False)

In [3]:
# Open browser for webscrape
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [34]:
# Scrape for stock descriptions
# TEST
# stock_list = []
# description_list = []

# for stock in stock_list:
#     url = f"https://www.marketbeat.com/stocks/NYSE/{stock}/"
#     browser.visit(url)
#     html = browser.html
#     soup = bs(html, 'html.parser')
#     full  = soup.find("div", class_="tab-pane active").find('div').text
# #     finished = re.match(r'(?:[^.:;]+[.:;]){}', full).group()

#     description_list.append(full)

In [62]:
# Put Descriptions into a dataframe and merge with Symbols
# description_list = pd.DataFrame(description_list)
# description_list = description_list.rename(columns={0:"description"})
# description_list = description_list.reset_index()

# stock_list = pd.DataFrame(stock_list)
# stock_list = stock_list.rename(columns={0:"symbol"})
# stock_list = stock_list.reset_index()

# # Merge descriptions to dataframe
# result = pd.merge(stock_list, description_list, on=['index'])
# result.head()

In [63]:
# Push Descriptions dataframe to MySQL
# result.to_sql(name='descriptions', con=engine, if_exists='append', index=False)

In [64]:
# # Iterate through list of stocks
# # TEST  #stock_list = ["TJX","AMT","MSFT"]

# Create list to append scrape data to
# stock_price = []
# stock_PE = []
# stock_eps = []
    
# # # Scrape for Stock Price
# for stock in stock_list:
#     try:
#         url = f"https://www.marketbeat.com/stocks/NYSE/{stock}/"
#         browser.visit(url)
#         html = browser.html
#         soup = bs(html, 'html.parser')
#         full = soup.find("div", class_="col-md-3 price").text
#         parsed_1 = re.sub('[\ ]', ',', full)
#         parsed_2 = parsed_1[:9]
#         parsed_3 = re.sub('[\,-]', '', parsed_2)
#         parsed_4 = re.sub('[\$,]', '', parsed_3)
#         parsed_5 = re.sub('[\+]', '', parsed_4)
#         finished = float(parsed_5)
#     except:
#         url = f"https://www.marketbeat.com/stocks/NYSE/{stock}/"
#         browser.visit(url)
#         html = browser.html
#         soup = bs(html, 'html.parser')
#         price = soup.find("div", class_="col-md-3 price").text
#         full = re.sub('[\ ]', ',', price)
#         parsed_1 = full[:9]
#         parsed_2 = re.sub('[\,-]', '',parsed_1)
#         parsed_3 = re.sub('[\$,]', '', parsed_2)
#         parsed_4 = re.sub('[\+]', '', parsed_3)
#         parsed_5 = parsed_4[:4]
#         finished = float(parsed_5)
#     stock_price.append(finished)
    
#     try:
#         # Scrape for PE Ratio
#         symbol  = soup.find("div", class_="col-md-9 price-data-section").find_all('strong')
#         data_str = str(symbol)
#         b_soup = bs(data_str)
#         data_text = b_soup.get_text()
#         result = [x.strip() for x in data_text.split(' ')]
#         parsed_1 = result[-3]
#         parsed_2 = re.sub('[,]', '', parsed_1)
#         finished = float(parsed_2) 
#     except:
#         url = f"https://www.marketwatch.com/investing/stock/{stock}"
#         browser.visit(url)
#         html = browser.html
#         soup = bs(html, 'html.parser')
#         pe = soup.find("div", class_="element element--list").text
#         parsed_1 = re.split(r'\b\n\b|:|- ',pe)[8]
#         parsed_2 = re.sub('[\n]', ' ', parsed_1)
#         parsed_3 = re.split(r'\bEPS\b|:|- ',parsed_2)[0]
#         finished = float(parsed_3)
#     stock_PE.append(finished)

# # Scrape EPS
# for stock in stock_list:
#     url = f"https://www.nasdaq.com/symbol/{stock}/earnings-forecast"
#     browser.visit(url)
#     html = browser.html
#     soup = bs(html, 'html.parser')
#     symbol  = soup.find("div", class_="genTable").find_all('tr')
#     data_str = str(symbol)
#     b_soup = bs(data_str)
#     data_text = b_soup.get_text()
#     try:
#         parsed_1 = re.split(r'\b\n\b|:|- ',data_text)[8]
#         finished = float(parsed_1)
#     except:
#         parsed_1 = re.split(r'\b\n\b|:|- ',data_text)[7]
#         parsed_2 = ab = re.sub('[\n]', ' ', parsed_1)
#         parsed_3 = re.sub('[ ]', ',', parsed_2)[-5:]
#         finished = float(parsed_3)
#     stock_eps.append(finished)

# # ZIP to stock symbol
# d_zip = list(zip(stock_list, stock_price, stock_PE, stock_dump, t, w, u))
# d_zip

In [11]:
# Put zipped data into dataframe
# df2 = pd.DataFrame(d_zip)
# df2 = df2.to_csv('data2.csv')

In [13]:
# Push dataframe to MySQL
# df.to_sql(name='finally', con=engine, if_exists='append', index=False)

In [66]:
# # Multiply EPS by PE Ratio

# # type(sub_ind)

# Find average PE Ratio grouped by Sub Industry
# sub_ind = sub_ind.groupby("sub_industry").mean()
# sub_ind_mean = sub_ind["pe_ratio"]
# sub_ind_mean_df = pd.DataFrame(sub_ind_mean)

# Merge Results
# result = pd.merge(sub_ind2, sub_ind_df, on=['sub_industry'])
# result = result.reset_index()

# Find current price by multiplying EST EPS by AVG PE Ratio
# current_price = result["est_eps"]*result["pe_ratio_y"]
# current_price = pd.DataFrame(current_price)
# result2 = current_price.reset_index()

# Merge Results
# result2 = pd.merge(result, result2, on=['index'])
# merged = result2.rename(columns={0: 'target_price'})

# Compute Percent change in Current Price and Target Price
# percent_change = (merged["target_price"]-merged['current_price'])/merged['current_price']*100
# percent_change = pd.DataFrame(percent_change)
# percent_change = percent_change.rename(columns={0: 'percent_change'})