In [5]:
import pandas as pd
import pymysql
# Import relevant packages
#Import Modules
import os
import numpy as np
import pandas as pd
import requests
import datetime as dt
import random
from Config import api_key
from Config2 import pwd
# BDay is business day
from pandas.tseries.offsets import BDay
import math
import time
import calendar
import re
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.orm import Session
# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Date
from textblob import TextBlob
from datetime import datetime
import re
import quandl
from Config import api_key
from Config2 import pwd

In [3]:
quandl.ApiConfig.api_key=api_key

In [7]:
host="stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com"
port=3306
dbname="stock_data"
user="ucbx"
password=pwd

conn = pymysql.connect(host, user=user,port=port,
                           passwd=password, db=dbname)

In [8]:
sql1 = "select symbol from sandp_stocks"

In [9]:
ticker = pd.read_sql(sql1, con=conn)

In [10]:
ticker_list = ticker['symbol'].tolist()

In [11]:
list1 = ticker_list[:250]
list2 = ticker_list[250:]

In [12]:
df1 = pd.DataFrame(quandl.get_table('SHARADAR/SF1', qopts={"columns":['ticker' ,'datekey','equity','revenue','price']}, calendardate='2018-12-31', ticker=list1))

In [13]:
df2 = pd.DataFrame(quandl.get_table('SHARADAR/SF1', qopts={"columns":['ticker' ,'datekey','equity','revenue','price']}, calendardate='2018-12-31', ticker=list2))

In [14]:
merged_df = pd.concat([df1, df2], ignore_index=True)

In [15]:
merged_df.head()

  ticker    datekey        equity       revenue   price
0   XRAY 2018-12-31    5121100000    3986300000   37.21
1    XOM 2018-12-31  191794000000  290212000000   68.19
2    XEC 2018-12-31    3329786000    2339017000   61.65
3      T 2018-12-31  184089000000  170756000000   28.54
4    STZ 2018-02-28    7975100000    7585000000  215.48

In [16]:
merged_df['book_to_revenue_ratio'] = merged_df['equity']/merged_df['revenue']

In [17]:
merged_df['book_to_revenue_ratio'] = merged_df['book_to_revenue_ratio'].round(2)

In [18]:
merged_df.head()

  ticker    datekey        equity       revenue   price  book_to_revenue_ratio
0   XRAY 2018-12-31    5121100000    3986300000   37.21                   1.28
1    XOM 2018-12-31  191794000000  290212000000   68.19                   0.66
2    XEC 2018-12-31    3329786000    2339017000   61.65                   1.42
3      T 2018-12-31  184089000000  170756000000   28.54                   1.08
4    STZ 2018-02-28    7975100000    7585000000  215.48                   1.05

In [19]:
sql2 = "select * from sandp_stocks"

In [20]:
sandp_data = pd.read_sql(sql2, con=conn)

In [21]:
sandp_data.head()

,index,security,symbol,sec_filing,gics_sector,gics_sub_industry,hq_location,date_added,cik,year_founded
0,1,3M Company,MMM,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",None,0000066740,1902
1,2,Abbott Laboratories,ABT,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888
2,3,AbbVie Inc.,ABBV,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
3,4,ABIOMED Inc,ABMD,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981
4,5,Accenture plc,ACN,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

In [22]:
merged_df2 = pd.merge(merged_df, sandp_data[['symbol','gics_sector', 'gics_sub_industry']], left_on='ticker', right_on='symbol', how='left')

In [23]:
merged_df2.head()

,ticker,datekey,equity,revenue,price,book_to_revenue_ratio,symbol,gics_sector,gics_sub_industry
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners

In [24]:
df_grouped = merged_df2.groupby(['gics_sub_industry']).mean()

In [25]:
df_grouped = df_grouped.reset_index()

In [26]:
df_grouped.head()

,gics_sub_industry,equity,revenue,price,book_to_revenue_ratio
0,Advertising,2.470150e+09,1.250230e+10,46.935000,0.2100
1,Aerospace & Defense,7.596627e+09,3.092793e+10,182.466667,0.2675
2,Agricultural & Farm Machinery,1.128780e+10,3.735770e+10,133.000000,0.3000
3,Agricultural Products,1.899600e+10,6.434100e+10,40.970000,0.3000
4,Air Freight & Logistics,6.504731e+09,4.052013e+10,124.707500,0.1700

In [27]:
df_grouped_ratio = df_grouped['book_to_revenue_ratio'].to_frame

In [28]:
final_df = pd.merge(merged_df2, df_grouped[['gics_sub_industry','book_to_revenue_ratio']], on='gics_sub_industry', how='left')

In [29]:
final_df.head()

,ticker,datekey,equity,revenue,price,book_to_revenue_ratio_x,symbol,gics_sector,gics_sub_industry,book_to_revenue_ratio_y
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies,1.076667
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas,1.026667
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production,1.825385
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services,0.780000
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners,1.050000

In [30]:
final_df = final_df.rename(columns={"book_to_revenue_ratio_x": "book_to_revenue_ratio_stock", "book_to_revenue_ratio_y": "avg_book_to_revenue_ratio_peer"})

In [31]:
final_df['avg_book_to_revenue_ratio_peer'] = final_df['avg_book_to_revenue_ratio_peer'].round(2)

In [32]:
final_df.head()

,ticker,datekey,equity,revenue,price,book_to_revenue_ratio_stock,symbol,gics_sector,gics_sub_industry,avg_book_to_revenue_ratio_peer
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies,1.08
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas,1.03
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production,1.83
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services,0.78
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners,1.05

In [33]:
final_df['perc_change'] = ((final_df['avg_book_to_revenue_ratio_peer'] - final_df['book_to_revenue_ratio_stock']) / final_df['book_to_revenue_ratio_stock'])*100

In [34]:
final_df['perc_change'] = final_df['perc_change'].round(2)

In [35]:
final_df.head()

,ticker,datekey,equity,revenue,price,book_to_revenue_ratio_stock,symbol,gics_sector,gics_sub_industry,avg_book_to_revenue_ratio_peer,perc_change
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies,1.08,-15.62
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas,1.03,56.06
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production,1.83,28.87
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services,0.78,-27.78
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners,1.05,0.00

In [36]:
final_df['target_price'] = (final_df['price'] * (1 + (final_df['perc_change']/100)))

In [37]:
final_df['target_price'] = final_df['target_price'].round(2)

In [38]:
final_df = final_df.rename(columns={"price": "current_price", "perc_change": "percent_change"})

In [39]:
final_df.head()

,ticker,datekey,equity,revenue,current_price,book_to_revenue_ratio_stock,symbol,gics_sector,gics_sub_industry,avg_book_to_revenue_ratio_peer,percent_change,target_price
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies,1.08,-15.62,31.40
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas,1.03,56.06,106.42
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production,1.83,28.87,79.45
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services,0.78,-27.78,20.61
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners,1.05,0.00,215.48

In [40]:
final_df['model'] = 'book_value_to_revenue'

In [41]:
final_df.head()

,ticker,datekey,equity,revenue,current_price,book_to_revenue_ratio_stock,symbol,gics_sector,gics_sub_industry,avg_book_to_revenue_ratio_peer,percent_change,target_price,model
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies,1.08,-15.62,31.40,book_value_to_revenue
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas,1.03,56.06,106.42,book_value_to_revenue
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production,1.83,28.87,79.45,book_value_to_revenue
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services,0.78,-27.78,20.61,book_value_to_revenue
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners,1.05,0.00,215.48,book_value_to_revenue

In [42]:
final_df = final_df.replace([np.inf, -np.inf], np.nan)
final_df = final_df.replace([np.inf, -np.inf], np.nan).dropna(how="all")
final_df

,ticker,datekey,equity,revenue,current_price,book_to_revenue_ratio_stock,symbol,gics_sector,gics_sub_industry,avg_book_to_revenue_ratio_peer,percent_change,target_price,model
0,XRAY,2018-12-31,5121100000,3986300000,37.21,1.28,XRAY,Health Care,Health Care Supplies,1.08,-15.62,31.40,book_value_to_revenue
1,XOM,2018-12-31,191794000000,290212000000,68.19,0.66,XOM,Energy,Integrated Oil & Gas,1.03,56.06,106.42,book_value_to_revenue
2,XEC,2018-12-31,3329786000,2339017000,61.65,1.42,XEC,Energy,Oil & Gas Exploration & Production,1.83,28.87,79.45,book_value_to_revenue
3,T,2018-12-31,184089000000,170756000000,28.54,1.08,T,Communication Services,Integrated Telecommunication Services,0.78,-27.78,20.61,book_value_to_revenue
4,STZ,2018-02-28,7975100000,7585000000,215.48,1.05,STZ,Consumer Staples,Distillers & Vintners,1.05,0.00,215.48,book_value_to_revenue
5,SCHW,2018-12-31,20670000000,10132000000,41.53,2.04,SCHW,Financials,Investment Banking & Brokerage,1.93,-5.39,39.29,book_value_to_revenue
6,RE,2018-12-31,7903804000,7377206000,217.76,1.07,RE,Financials,Reinsurance,1.07,0.00,217.76,book_value_to_revenue
7,MO,2018-12-31,14787000000,25364000000,49.39,0.58,MO,Consumer Staples,Tobacco,0.21,-63.79,17.88,book_value_to_revenue
8,MMM,2018-12-31,9796000000,32765000000,190.54,0.30,MMM,Industrials,Industrial Conglomerates,0.62,106.67,393.79,book_value_to_revenue
9,LNT,2018-12-31,4585700000,3534500000,42.25,1.30,LNT,Utilities,Electric Utilities,1.32,1.54,42.90,book_value_to_revenue
10,KO,2018-12-31,16981000000,31856000000,47.35,0.53,KO,Consumer Staples,Soft Drinks,0.57,7.55,50.92,book_value_to_revenue
11,KMX,2018-02-28,3316849000,17120209000,61.92,0.19,KMX,Consumer Discretionary,Specialty Stores,0.12,-36.84,39.11,book_value_to_revenue
12,IT,2018-12-31,850757000,3975454000,127.84,0.21,IT,Information Technology,IT Consulting & Other Services,0.39,85.71,237.41,book_value_to_revenue
13,INFO,2018-11-30,8020500000,4009200000,53.37,2.00,INFO,Industrials,Research & Consulting Services,1.05,-47.50,28.02,book_value_to_revenue
14,IDXX,2018-12-31,-9513000,2213242000,186.02,-0.00,IDXX,Health Care,Health Care Equipment,1.01,NaN,NaN,book_value_to_revenue
15,HUM,2018-12-31,10161000000,56912000000,286.48,0.18,HUM,Health Care,Managed Health Care,0.32,77.78,509.30,book_value_to_revenue
16,HSY,2018-12-31,1398721000,7791069000,107.18,0.18,HSY,Consumer Staples,Packaged Foods & Meats,0.44,144.44,261.99,book_value_to_revenue
17,HST,2018-12-31,7494000000,5524000000,16.67,1.36,HST,Real Estate,Hotel & Resort REITs,1.36,0.00,16.67,book_value_to_revenue
18,HSIC,2018-12-29,2961332000,13201995000,77.92,0.22,HSIC,Health Care,Health Care Distributors,0.27,22.73,95.63,book_value_to_revenue
19,HRS,2018-06-29,3278000000,6182000000,144.54,0.53,HRS,Industrials,Aerospace & Defense,0.27,-49.06,73.63,book_value_to_revenue
20,HRL,2018-10-28,5600811000,9545700000,41.17,0.59,HRL,Consumer Staples,Packaged Foods & Meats,0.44,-25.42,30.70,book_value_to_revenue
21,HRB,2018-04-30,393711000,3159931000,27.65,0.12,HRB,Consumer Discretionary,Specialized Consumer Services,0.12,0.00,27.65,book_value_to_revenue
22,HPQ,2018-10-31,-639000000,58472000000,24.14,-0.01,HPQ,Information Technology,"Technology Hardware, Storage & Peripherals",0.38,-3900.00,-917.32,book_value_to_revenue
23,HPE,2018-10-31,21239000000,30852000000,15.25,0.69,HPE,Information Technology,"Technology Hardware, Storage & Peripherals",0.38,-44.93,8.40,book_value_to_revenue
24,HP,2018-09-30,4382735000,2487268000,68.77,1.76,HP,Energy,Oil & Gas Drilling,1.76,0.00,68.77,book_value_to_revenue
25,HON,2018-12-31,18180000000,41802000000,132.12,0.43,HON,Industrials,Industrial Conglomerates,0.62,44.19,190.50,book_value_to_revenue
26,HOLX,2018-09-29,2428800000,3217900000,40.98,0.75,HOLX,Health Care,Health Care Equipment,1.01,34.67,55.19,book_value_to_revenue
27,HOG,2018-12-31,1773949000,5716875000,34.12,0.31,HOG,Consumer Discretionary,Motorcycle Manufacturers,0.31,0.00,34.12,book_value_to_revenue
28,HLT,2018-12-31,551000000,8906000000,71.80,0.06,HLT,Consumer Discretionary,"Hotels, Resorts & Cruise Lines",0.72,1100.00,861.60,book_value_to_revenue
29,HII,2018-12-31,1516000000,8176000000,190.31,0.19,HII,Industrials,Aerospace & Defense,0.27,42.11,270.45,book_value_to_revenue
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,K,2018-12-29,2601000000,13547000000,57.25,0.19,K,Consumer Staples,Packaged Foods & Meats,0.44,131.58,132.58,book_value_to_revenue
465,JWN,2019-02-02,873000000,15860000000,45.33,0.06,JWN,Consumer Discretionary,Department Stores,0.16,166.67,120.88,book_value_to_revenue
466,JPM,2018-12-31,256515000000,109029000000,97.62,2.35,JPM,Financials,Diversified Banks,2.49,5.96,103.44,book_value_to_revenue
467,JNPR,2018-12-31,4823200000,4647500000,26.91,1.04,JNPR,Information Technology,Communications Equipment,0.67,-35.58,17.34,book_value_to_revenue
468,JNJ,2018-12-30,59752000000,81581000000,127.27,0.73,JNJ,Health Care,Pharmaceuticals,1.09,49.32,190.04,book_value_to_revenue
469,JKHY,2018-06-30,1322844000,1536603000,130.36,0.86,JKHY,Information Technology,Data Processing & Outsourced Services,0.72,-16.28,109.14,book_value_to_revenue
470,JEC,2018-09-28,5854345000,14984646000,76.50,0.39,JEC,Industrials,Construction & Engineering,0.29,-25.64,56.89,book_value_to_revenue
471,JCI,2018-09-30,21164000000,31400000000,35.00,0.67,JCI,Industrials,Building Products,0.38,-43.28,19.85,book_value_to_revenue
472,JBHT,2018-12-31,2101384000,8614874000,93.04,0.24,JBHT,Industrials,Trucking,0.24,0.00,93.04,book_value_to_revenue
473,IVZ,2018-12-31,8578800000,5314100000,16.74,1.61,IVZ,Financials,Asset Management & Custody Banks,1.64,1.86,17.05,book_value_to_revenue
474,ITW,2018-12-31,3254000000,14768000000,126.69,0.22,ITW,Industrials,Industrial Machinery,0.49,122.73,282.18,book_value_to_revenue
475,ISRG,2018-12-31,6678800000,3724200000,478.92,1.79,ISRG,Health Care,Health Care Equipment,1.01,-43.58,270.21,book_value_to_revenue
476,IRM,2018-12-31,1884180000,4225761000,32.41,0.45,IRM,Real Estate,Specialized REITs,1.42,215.56,102.27,book_value_to_revenue
477,IR,2018-12-31,7022700000,15668200000,91.23,0.45,IR,Industrials,Industrial Machinery,0.49,8.89,99.34,book_value_to_revenue
478,IQV,2018-12-31,6714000000,10412000000,116.17,0.64,IQV,Health Care,Life Sciences Tools & Service,0.64,0.00,116.17,book_value_to_revenue
479,IPGP,2018-12-31,2205548000,1459874000,113.29,1.51,IPGP,Information Technology,Electronic Manufacturing Services,1.14,-24.50,85.53,book_value_to_revenue
480,IPG,2018-12-31,2393200000,9714400000,20.63,0.25,IPG,Communication Services,Advertising,0.21,-16.00,17.33,book_value_to_revenue
481,IP,2018-12-31,7362000000,23306000000,40.36,0.32,IP,Materials,Paper Packaging,0.29,-9.38,36.57,book_value_to_revenue
482,INTU,2018-07-31,2816000000,5964000000,204.24,0.47,INTU,Information Technology,Internet Software & Services,0.62,31.91,269.41,book_value_to_revenue
483,INTC,2018-12-29,74563000000,70848000000,46.75,1.05,INTC,Information Technology,Semiconductors,0.92,-12.38,40.96,book_value_to_revenue
484,INCY,2018-12-31,1925967000,1881883000,63.59,1.02,INCY,Health Care,Biotechnology,1.11,8.82,69.20,book_value_to_revenue
485,ILMN,2018-12-30,3758000000,3333000000,298.23,1.13,ILMN,Health Care,Life Sciences Tools & Services,0.66,-41.59,174.20,book_value_to_revenue
486,IFF,2018-12-31,6032951000,3977539000,134.27,1.52,IFF,Materials,Specialty Chemicals,0.62,-59.21,54.77,book_value_to_revenue
487,ICE,2018-12-31,17201000000,6276000000,75.33,2.74,ICE,Financials,Financial Exchanges & Data,1.61,-41.24,44.26,book_value_to_revenue
488,IBM,2018-12-31,16796000000,79591000000,113.67,0.21,IBM,Information Technology,IT Consulting & Other Services,0.39,85.71,211.10,book_value_to_revenue
489,FTI,2018-12-31,10399600000,12552900000,19.58,0.83,FTI,Energy,Oil & Gas Equipment & Services,0.83,0.00,19.58,book_value_to_revenue
490,FOXA,2018-06-30,9594000000,10153000000,NaN,0.94,FOXA,Communication Services,Movies & Entertainment,0.78,-17.02,NaN,book_value_to_revenue
491,DIS,2018-09-29,48773000000,59434000000,116.94,0.82,DIS,Communication Services,Movies & Entertainment,0.78,-4.88,111.23,book_value_to_revenue
492,DGX,2018-12-31,5216000000,7531000000,83.27,0.69,DGX,Health Care,Health Care Services,0.54,-21.74,65.17,book_value_to_revenue
493,CRM,2019-01-31,15605000000,13282000000,151.97,1.17,CRM,Information Technology,Internet Software & Services,0.62,-47.01,80.53,book_value_to_revenue

In [43]:
final_dataframe = final_df[['symbol', 'gics_sector', 'gics_sub_industry', 'model', 'percent_change', 'current_price','target_price']].copy()

In [44]:
final_dataframe.head()

,symbol,gics_sector,gics_sub_industry,model,percent_change,current_price,target_price
0,XRAY,Health Care,Health Care Supplies,book_value_to_revenue,-15.62,37.21,31.40
1,XOM,Energy,Integrated Oil & Gas,book_value_to_revenue,56.06,68.19,106.42
2,XEC,Energy,Oil & Gas Exploration & Production,book_value_to_revenue,28.87,61.65,79.45
3,T,Communication Services,Integrated Telecommunication Services,book_value_to_revenue,-27.78,28.54,20.61
4,STZ,Consumer Staples,Distillers & Vintners,book_value_to_revenue,0.00,215.48,215.48

In [45]:
class book_value_to_revenue_multiple (Base):
    __tablename__ = 'book_value_to_revenue_multiple'
    symbol = Column("symbol",String(100),primary_key=True)
    gics_sector = Column("gics_sector",String(100))
    gics_sub_industry = Column("gics_sub_industry", String(100))
    model = Column("model", String(100))
    percent_change = Column("percent_change", Float)
    current_price = Column("current_price", Float)
    target_price = Column("target_price", Float)

In [49]:
# Setup Pymysql and connect to AWS MySQL workbench
pymysql.install_as_MySQLdb()
string = f"mysql://ucbx:{pwd}@stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com/stock_data"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()

In [50]:
# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [51]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [52]:
# Create both the company_diversity_m_f and company_diversity_race tables within the database
Base.metadata.create_all(conn)

In [53]:
# Create a session that binds to the engine to enable insert of data
session = Session(bind=engine)

In [54]:
final_dataframe.to_sql(name="book_value_to_revenue_multiple", con=engine, if_exists='replace',index=False)

In [55]:
import pandas as pd
top_4 = ["Health Care","Consumer Discretionary","Consumer Staples","Information Technology"]
bottom_4 = ["Energy","Financials","Industrials","Materials"]

In [56]:
def get_top_3(df, list_of_sector):
    list_to_return = []
    df["top_bottom"] = "top_3"
    for sector in list_of_sector:
        print(sector)
        df2 = df[df["gics_sector"] == str(sector)]
        sorted_df = df2.sort_values(by="percent_change", ascending=False)
        top_3_to_return =  sorted_df.head(3)
        top_3_to_return = top_3_to_return.reset_index()
        top_3_to_return = top_3_to_return.drop(columns=["index"])
        dict_to_return = top_3_to_return.to_dict()
        to_return = top_3_to_return
        list_to_return.append(to_return)
    final_top = pd.concat(list_to_return,ignore_index=True)
    return final_top

In [57]:
def get_bottom_3(df, list_of_sector):
    list_to_return = []
    df["top_bottom"] = "bottom_3"
    for sector in list_of_sector:
        print(sector)
        df2 = df[df["gics_sector"] == str(sector)]
        sorted_df = df2.sort_values(by="percent_change", ascending=True)
        bottom_3_to_return =  sorted_df.head(3)
        bottom_3_to_return = bottom_3_to_return.reset_index()
        bottom_3_to_return = bottom_3_to_return.drop(columns=["index"])
#         dict_to_return = bottom_3_to_return.to_dict()
        to_return = bottom_3_to_return
        list_to_return.append(to_return)
    final_bottom = pd.concat(list_to_return,ignore_index=True)
    return final_bottom

In [58]:
def concat_all(list_of_df):
    to_return = pd.concat(list_of_df,ignore_index=True)
    return to_return

In [59]:
top_3_table = get_top_3(final_dataframe,top_4)

Health Care
Consumer Discretionary
Consumer Staples
Information Technology

In [60]:
bottom_3_table = get_bottom_3(final_dataframe,bottom_4)

Energy
Financials
Industrials
Materials

In [61]:
to_concat = [top_3_table,bottom_3_table]

In [62]:
top_bottom_final = concat_all(to_concat)
top_bottom_final

,symbol,gics_sector,gics_sub_industry,model,percent_change,current_price,target_price,top_bottom
0,ABC,Health Care,Health Care Distributors,book_value_to_revenue,1250.00,92.22,1244.97,top_3
1,CAH,Health Care,Health Care Distributors,book_value_to_revenue,575.00,48.83,329.60,top_3
2,MCK,Health Care,Health Care Distributors,book_value_to_revenue,440.00,140.87,760.70,top_3
3,HLT,Consumer Discretionary,"Hotels, Resorts & Cruise Lines",book_value_to_revenue,1100.00,71.80,861.60,top_3
4,MAR,Consumer Discretionary,"Hotels, Resorts & Cruise Lines",book_value_to_revenue,554.55,108.56,710.58,top_3
5,HBI,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",book_value_to_revenue,228.57,12.19,40.05,top_3
6,CPB,Consumer Staples,Packaged Foods & Meats,book_value_to_revenue,175.00,40.94,112.58,top_3
7,PEP,Consumer Staples,Soft Drinks,book_value_to_revenue,159.09,110.36,285.93,top_3
8,HSY,Consumer Staples,Packaged Foods & Meats,book_value_to_revenue,144.44,107.18,261.99,top_3
9,QCOM,Information Technology,Semiconductors,book_value_to_revenue,2200.00,72.03,1656.69,top_3
10,AMD,Information Technology,Semiconductors,book_value_to_revenue,360.00,17.82,81.97,top_3
11,CTXS,Information Technology,Internet Software & Services,book_value_to_revenue,226.32,102.46,334.35,top_3
12,FANG,Energy,Oil & Gas Exploration & Production,book_value_to_revenue,-70.91,92.70,26.97,bottom_3
13,CXO,Energy,Oil & Gas Exploration & Production,book_value_to_revenue,-59.51,102.79,41.62,bottom_3
14,KMI,Energy,Oil & Gas Storage & Transportation,book_value_to_revenue,-35.71,15.38,9.89,bottom_3
15,MSCI,Financials,Financial Exchanges & Data,book_value_to_revenue,-1441.67,147.43,-1978.02,bottom_3
16,CME,Financials,Financial Exchanges & Data,book_value_to_revenue,-73.21,188.12,50.40,bottom_3
17,WLTW,Financials,Insurance Brokers,book_value_to_revenue,-41.38,151.86,89.02,bottom_3
18,MAS,Industrials,Building Products,book_value_to_revenue,-3900.00,29.24,-1111.12,bottom_3
19,TDG,Industrials,Aerospace & Defense,book_value_to_revenue,-157.45,372.30,-213.89,bottom_3
20,ROP,Industrials,Industrial Conglomerates,book_value_to_revenue,-58.39,266.52,110.90,bottom_3
21,SEE,Materials,Paper Packaging,book_value_to_revenue,-514.29,34.84,-144.34,bottom_3
22,IFF,Materials,Specialty Chemicals,book_value_to_revenue,-59.21,134.27,54.77,bottom_3
23,WRK,Materials,Paper Packaging,book_value_to_revenue,-58.57,53.44,22.14,bottom_3

In [63]:
top_bottom_final.to_excel("book_value_to_revenue_top_botbottom_final.xlsx")