In [1]:
# Import relevant packages
#Import Modules
import os
import numpy as np
import pandas as pd
import requests
import datetime as dt
import random
# BDay is business day
from pandas.tseries.offsets import BDay
import math
import time
import calendar
import re
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.orm import Session
from Config import pwd, user, host, port, dbname

In [2]:
pymysql.install_as_MySQLdb() 
string = f"mysql://{user}:{pwd}@{host}/{dbname}"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()
# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float,Text

In [ ]:
full_table = pd.read_excel("Ebitda_final_table_percent.xlsx")

In [ ]:
final = full_table[["symbol","gics_sector","gics_sub_industry","model","percent_change","current_price","target_price"]]

In [ ]:
final

In [ ]:
final = pd.read_excel("EBITA_final_to_SQL.xlsx")
final.head()

In [ ]:
class ebitda_multiple (Base):
    __tablename__ = 'ebitda_multiple'
    symbol = Column("symbol",String(100),primary_key=True)
    gics_sector = Column("gics_sector",String(100))
    gics_sub_industry = Column("gics_sub_industry", String(100))
    model = Column("model", String(100))
    percent_change = Column("percent_change", Float)
    current_price = Column("current_price", Float)
    target_price = Column("target_price", Float)
    description = Column("description", Text())

In [4]:
# Create both the company_diversity_m_f and company_diversity_race tables within the database
Base.metadata.create_all(conn)
# confirming that tables got created in the DB
engine.table_names()
# Create a session that binds to the engine to enable insert of data
session = Session(bind=engine)

In [ ]:
final.to_sql(name="ebitda_multiple", con=engine, if_exists='append',index=False)

In [5]:
ev_sales_multiple_to_push = pd.read_csv("ev_sales_multiple.csv")

In [6]:
ev_sales_multiple_to_push.drop(columns="Unnamed: 0", inplace=True)

In [7]:
ev_sales_multiple_to_push.head()

,symbol,gics_sector,gics_sub_industry,model,percent_change,current_price,target_price
0,XRAY,Health Care,Health Care Supplies,ev_sales_multiple,60.873073,37.21,59.860870
1,XOM,Energy,Integrated Oil & Gas,ev_sales_multiple,123.478289,68.19,152.389845
2,XEC,Energy,Oil & Gas Exploration & Production,ev_sales_multiple,-19.556743,61.65,49.593268
3,TXT,Industrials,Aerospace & Defense,ev_sales_multiple,156.387959,45.65,117.041103
4,TXN,Information Technology,Semiconductors,ev_sales_multiple,-20.779924,94.50,74.862972

In [3]:
class ev_sales_multiple (Base):
    __tablename__ = 'ev_sales_multiple'
    symbol = Column("symbol",String(100),primary_key=True)
    gics_sector = Column("gics_sector",String(100))
    gics_sub_industry = Column("gics_sub_industry", String(100))
    model = Column("model", String(100))
    percent_change = Column("percent_change", Float)
    current_price = Column("current_price", Float)
    target_price = Column("target_price", Float)
    description = Column("description", Text())

In [8]:
ev_sales_multiple_to_push.to_sql(name="ev_sales_multiple", con=engine, if_exists='append',index=False)